# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

.gradle-user-home/
.gradle/
build/

*.jar

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

Thumbs.db

# Temp files
_temp/

/text-ui-test/ACTUAL.TXT
text-ui-test/EXPECTED-UNIX.TXT

*.class

data/della.txt

# Run experiments
Test.java
